.DS_Store
*.swp
*.*~
.*~
*.d
*.o
*.a
.settings
*doxygen*
*.gcov
*.gcno
*.gcda
*_tests
*_cslim
*a.out
*.zip
tmp
pdfs
*.map
gcov
objs
lib
*_tests.txt
gcov*.html
ErrorLogs
testResults
.metadata
Debug
*/Debug/*
*.exe
*.obj
*.ncb
*.opt
*.plg
*.idb
*.pdb
*.sou
*.sdf
*.lib
*.log
*.tlog
*.cache
*.user
/vs-test-build/.vs/PLEPA_C_TDD/v14
/vs-test-build/TddC-StarterProject_VS2010.VC.db
/vs-test-build/TddC-StarterProject_VS2010.VC.VC.opendb
